*{
    margin: 0px;
    padding: 0px;
}

.mvh {
    width: 100%;
    height: 80px;
    display: flex;
    border: solid 1px gainsboro;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.mvh > h1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mvh > form{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

input  {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.mvmain {
    display: flex;
    margin: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

.mvlist1 {
    display: flex;
    flex-direction: column;
}

.moviename {
    display: flex;
    flex-direction: column;
}

.moviemain {
 display: flex;
 flex-direction: row;
}

.moviedetail {
    display: flex;
    flex-direction: column;
    margin: 70px;
    border: solid 1px black;
    border-radius: 10px;
    width: 450px;
    justify-content: center;
    align-items: left;
    background-color: cornsilk;
    font-size: 20px;
    padding-left: 30px;
}

.dtdiv {
    margin: 10px;

}

.col {
    margin-top: 5px;
    display: flex;
    align-items: center; 
    justify-content: left;
    width: 55vw; 
    height: 6vh;
    border-bottom: 1px solid black;
    background-color: cornflowerblue;
    color: white;
}



.row {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 55vw; 
    border-bottom: solid 1px black;
    height: 5vh;
    

}

.row:hover, .row:active {
    background-color: cornsilk;
}

.col0, .col1, .col2 , .row0, .row1, .row2{
   display: inline-flex;
   width: 32%;
   justify-content: center;
   align-items: center;
}

