*{
    margin: 0px;
    padding: 0px;
}

.mvh {
    width: 100%;
    height: 80px;
    display: flex;
    border: solid 1px gainsboro;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.mvh > h1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mvh > form{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

input  {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }